.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-icon {
  width: 40px;
  height: 40px;
  background-color: #e0e7ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3b82f6;
}

/* .logout-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #aa0909;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.logout-button:hover {
  background-color: #930503;
} */

.action-buttons {
  display: flex;
  align-items: center;
  gap: 12px; 
}

.profile-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 6px;
  color: #475569; 
  transition: background-color 0.2s ease;
  
}

.profile-button:hover {
  background-color: #f1f5f9;
}

.profile-icon-svg {
  width: 18px;
  height: 18px;
  stroke: #475569;
}